<a href="https://colab.research.google.com/github/linyuehzzz/census_privacy/blob/main/cell_uniques.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

#### **Read synthetic population data**

In [2]:
%cd "/content/gdrive/My Drive/Colab Notebooks/census_privacy"
import pandas as pd

filename_people = 'franklin/microdata/franklin_peoplev0.csv'
data_people = pd.read_csv(filename_people)
data_people

/content/gdrive/My Drive/Colab Notebooks/census_privacy

                 GEOID10   PUMAID  SEX  ...  HouseholdID        lon        lat
0        390490001101001  3904102    1  ...            1 -82.999368  40.054253
1        390490001101001  3904102    2  ...            1 -82.999368  40.054253
2        390490001101002  3904102    2  ...            4 -83.002695  40.060864
3        390490001101002  3904102    2  ...            5 -83.001629  40.060899
4        390490001101002  3904102    2  ...            6 -83.001937  40.060852
...                  ...      ...  ...  ...          ...        ...        ...
1138714  390490107001020  3904102    2  ...           70 -83.017831  40.065591
1138715  390490107001020  3904102    1  ...          108 -83.017814  40.062582
1138716  390490107001020  3904102    2  ...           95 -83.018259  40.064492
1138717  390499800001027  3904106    1  ...            1 -82.879433  40.004085
1138718  390499800001027  3904106    2  ...            1 -82.879433  40.004085

[1138719 rows x 25 columns]

#### **Create original histograms**
We consider the query of race (RAC1P) for the purpose of demonstration. Cell uniqueness is presented in this query.

In [3]:
hist1 = pd.crosstab(data_people.GEOID10, data_people.RAC1P)
hist1

RAC1P              1   2  3  4  5  6  7  8  9
GEOID10
390490001101001    1   0  0  0  0  0  0  0  1
390490001101002   45   0  0  0  0  0  0  0  0
390490001101003   51   4  0  0  0  0  0  0  0
390490001101004   48   0  0  0  0  0  0  0  0
390490001101005   51   0  0  0  0  0  0  0  4
...              ...  .. .. .. .. .. .. .. ..
390490107001015   92  17  0  0  0  0  0  1  2
390490107001016    9   0  0  0  0  0  0  0  0
390490107001017   42   6  0  0  0  9  0  0  0
390490107001020  167  20  0  0  0  7  0  1  1
390499800001027    2   0  0  0  0  0  0  0  0

[15048 rows x 9 columns]

#### **Add noises (Zero-concentrated differential privacy)**
There are two core components to the 2020 DAS: noise injection and post-processing. We only focus on the noise injection here. Consistent with the 2020 DAS, discrete Gaussian noise is applied.

Bun, M., & Steinke, T. (2016, November). Concentrated differential privacy: Simplifications, extensions, and lower bounds. In Theory of Cryptography Conference (pp. 635-658). Springer, Berlin, Heidelberg.

Parameters for generating Gaussian noise.

In [ ]:
import math
import numpy as np

# privacy budget allocation
delta = 10 ** (-10)
eps = 12.2 * 9/4097

# calculate sigma (standard deviation)
sigma = math.sqrt(1 / (2 * eps))
# privacy loss budget in differential privacy
eps0 = eps + 2 * sqrt(eps * log(1 / delta))
eps, eps0

(0.02680009763241396, 1.59790805444737)

Probability of generating zero noise and one noise.

In [ ]:
import scipy.stats

scipy.stats.norm(0, sigma).cdf(0.5) - scipy.stats.norm(0, sigma).cdf(-0.5), scipy.stats.norm(0, sigma).pdf(1)

(0.0921561217750953, 0.08991954842684334)

Add noise to histogram.

In [ ]:
hist2 = hist1 + np.round(np.random.normal(0, sigma, size=(hist1.shape)), 0)
hist2

RAC1P                1     2    3     4    5     6    7    8     9
GEOID10
390490001101001    4.0  -1.0  0.0   4.0  3.0   1.0  3.0 -6.0   3.0
390490001101002   41.0  -4.0  1.0   2.0  2.0   3.0 -4.0  0.0  -6.0
390490001101003   54.0  10.0  5.0   3.0  1.0   3.0  4.0  1.0   4.0
390490001101004   40.0   8.0  3.0   2.0  3.0  -5.0 -1.0  5.0  -3.0
390490001101005   49.0   2.0  9.0  -6.0  2.0   3.0  2.0  1.0  15.0
...                ...   ...  ...   ...  ...   ...  ...  ...   ...
390490107001015  100.0  11.0 -2.0 -10.0 -3.0  -6.0  5.0  4.0   8.0
390490107001016   -3.0  -9.0  6.0  -2.0  0.0   7.0 -8.0  7.0   0.0
390490107001017   47.0   5.0  6.0  -6.0  0.0  14.0 -3.0  5.0  -5.0
390490107001020  171.0  27.0  2.0   3.0 -1.0   9.0  2.0  9.0  -5.0
390499800001027    5.0   2.0  0.0   6.0 -4.0  -3.0  0.0  0.0  -9.0

[15048 rows x 9 columns]

####**Cell uniqueness**
Young, C., Martin, D., & Skinner, C. (2009). Geographically intelligent disclosure control for flexible aggregation of census data. International Journal of Geographical Information Science, 23(4), 457-482.

Privacy measure: probability of finding a true unique

In [ ]:
# find a true unique
tu = (hist1 == hist2) & (hist1 == 1) & (hist2 == 1)
n_tu = np.unique(tu.values, return_counts=True)[1][1]
n_tu

(array([False,  True]), array([134866,    566]))

In [ ]:
# uniques after noise injection
u = hist2 == 1
n_u = np.unique(u.values, return_counts=True)[1][1]
n_u

10017

In [ ]:
# frequency of finding the true uniques
p_tu = n_tu / n_u
p_tu

0.0556547619047619

Let $A_i$ = {cell = $i$ before noise injection}, and the noise be $W\sim N(0,\sigma^2)$. A true unique (TU) is a cell = 1 before and after noise injection. The probability of finding a true unique can be defined using the Bayes' theorem:

$p(TU)=\frac{p(-0.5<=W<=0.5)p(A_1)}{\sum_ip(0.5-i<=W<=1.5-i)p(A_i)}$


$p(TU)$ is large if (i) the histogram is dominantly "unique", (ii) non-unique cells have relatively large values, and/or (iii) the privacy budget is large.

In [ ]:
column_values = hist1[[1, 2, 3, 4, 5, 6, 7, 8, 9]].values.ravel()
A = pd.unique(column_values)

probs = []
for i in A:
    p1 = scipy.stats.norm(0, sigma).cdf(0.5 - i) - scipy.stats.norm(0, sigma).cdf(1.5 - i)
    u0 = hist1 == i
    p2 = np.unique(u0.values, return_counts=True)[1][1] / (np.unique(u0.values, return_counts=True)[1][1] + 
                                                           np.unique(u0.values, return_counts=True)[1][0])
    probs.append(p1 * p2)

p3 = scipy.stats.norm(0, sigma).cdf(-0.5) - scipy.stats.norm(0, sigma).cdf(0.5)
u0 = hist1 == 1
p4 = np.unique(u0.values, return_counts=True)[1][1] / (np.unique(u0.values, return_counts=True)[1][1] + 
                                                       np.unique(u0.values, return_counts=True)[1][0])
p_tu = p3 * p4 / sum(probs)
p_tu

0.05347450621498629

We also use a Monte Carlo method to calculate the expected frequency (probability) of finding the true uniques. The result is consistent with the theoretical value.

In [ ]:
import statistics
import numpy as np

N = 1000    # bootstrap times
p_tus = []

for i in range(N):
    hist2 = hist1 + np.round(np.random.normal(0, sigma, size=(hist1.shape)), 0)
    # find a true unique
    tu = (hist1 == hist2) & (hist1 == 1) & (hist2 == 1)
    n_tu = np.unique(tu.values, return_counts=True)[1][1]
    # uniques after noise injection
    u = hist2 == 1
    n_u = np.unique(u.values, return_counts=True)[1][1]
    # frequency of finding the true uniques
    p_tu = n_tu / n_u
    p_tus.append(p_tu)

statistics.mean(p_tus)

0.05351227866574452

####**More on cell uniqueness**
Some simulations to demonstrate how different factors affect the probability of finding a true unique.

#####**Distribution of cell uniques**

In [5]:
!pip install geopandas

Collecting geopandas
  Downloading geopandas-0.9.0-py2.py3-none-any.whl (994 kB)
     |████████████████████████████████| 994 kB 3.2 MB/s
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.7.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.1.5)
Collecting fiona>=1.8
  Downloading Fiona-1.8.20-cp37-cp37m-manylinux1_x86_64.whl (15.4 MB)
     |████████████████████████████████| 15.4 MB 78 kB/s
Collecting pyproj>=2.2.0
  Downloading pyproj-3.2.0-cp37-cp37m-manylinux_2_24_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 50.6 MB/s
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2021.5.30)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.2.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2.8.2)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2018.9)
Installing collected packages: munch, cligj, click-plugins, pyproj, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.20 geopandas-0.9.0 munch-2.5.0 pyproj-3.2.0

In [57]:
%cd "/content/gdrive/My Drive/Colab Notebooks/census_privacy"
import geopandas as gpd

filename_block = 'franklin/buildings/franklin_block10.json'
data_block = gpd.read_file(filename_block)
data_block.head()

/content/gdrive/My Drive/Colab Notebooks/census_privacy

   OBJECTID  ...                                           geometry
0         1  ...  POLYGON ((-83.08283 40.00301, -83.08280 40.002...
1         2  ...  POLYGON ((-83.03954 40.03505, -83.03952 40.035...
2         3  ...  POLYGON ((-83.02613 39.88562, -83.02617 39.885...
3         4  ...  POLYGON ((-82.94881 40.05365, -82.94883 40.053...
4         5  ...  POLYGON ((-82.83938 40.10938, -82.83945 40.109...

[5 rows x 21 columns]

In [58]:
uniques = (hist1 == 1).sum(axis=1).to_frame()
uniques["GEOID10"] = uniques.index.map(str)
uniques = uniques.rename(columns={uniques.columns[0]: "UNI"})
uniques.index.name = None
uniques.head()

                 UNI          GEOID10
390490001101001    2  390490001101001
390490001101002    0  390490001101002
390490001101003    0  390490001101003
390490001101004    0  390490001101004
390490001101005    0  390490001101005

In [59]:
data_block = data_block.merge(uniques[['GEOID10', 'UNI']], how='left', on=['GEOID10'])
data_block.head()

   OBJECTID STATEFP10  ...                                           geometry  UNI
0         1        39  ...  POLYGON ((-83.08283 40.00301, -83.08280 40.002...  1.0
1         2        39  ...  POLYGON ((-83.03954 40.03505, -83.03952 40.035...  NaN
2         3        39  ...  POLYGON ((-83.02613 39.88562, -83.02617 39.885...  NaN
3         4        39  ...  POLYGON ((-82.94881 40.05365, -82.94883 40.053...  1.0
4         5        39  ...  POLYGON ((-82.83938 40.10938, -82.83945 40.109...  NaN

[5 rows x 22 columns]

####**Check LP metric**
Wieland, S. C., Cassa, C. A., Mandl, K. D., & Berger, B. (2008). Revealing the spatial distribution of a disease while preserving privacy. Proceedings of the National Academy of Sciences, 105(46), 17608-17613.

Privacy measure: probability that any chosen member of the population belong to the target population