<a href="https://colab.research.google.com/github/linyuehzzz/census_privacy/blob/main/differential_privacy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

#### **Read synthetic population data**

In [2]:
%cd "/content/gdrive/My Drive/Colab Notebooks/census_privacy"
import pandas as pd

filename_people = 'franklin/microdata/franklin_peoplev0.csv'
data_people = pd.read_csv(filename_people)
data_people

/content/gdrive/My Drive/Colab Notebooks/census_privacy

                 GEOID10   PUMAID  SEX  ...  HouseholdID        lon        lat
0        390490001101001  3904102    1  ...            1 -82.999368  40.054253
1        390490001101001  3904102    2  ...            1 -82.999368  40.054253
2        390490001101002  3904102    2  ...            4 -83.002695  40.060864
3        390490001101002  3904102    2  ...            5 -83.001629  40.060899
4        390490001101002  3904102    2  ...            6 -83.001937  40.060852
...                  ...      ...  ...  ...          ...        ...        ...
1138714  390490107001020  3904102    2  ...           70 -83.017831  40.065591
1138715  390490107001020  3904102    1  ...          108 -83.017814  40.062582
1138716  390490107001020  3904102    2  ...           95 -83.018259  40.064492
1138717  390499800001027  3904106    1  ...            1 -82.879433  40.004085
1138718  390499800001027  3904106    2  ...            1 -82.879433  40.004085

[1138719 rows x 25 columns]

#### **Create original histograms**
We consider the query of race (RAC1P) for the purpose of demonstration. Cell uniqueness is presented in this query.

In [165]:
hist1 = pd.crosstab(data_people.GEOID10, data_people.RAC1P)
hist1

RAC1P              1   2  3  4  5  6  7  8  9
GEOID10
390490001101001    1   0  0  0  0  0  0  0  1
390490001101002   45   0  0  0  0  0  0  0  0
390490001101003   51   4  0  0  0  0  0  0  0
390490001101004   48   0  0  0  0  0  0  0  0
390490001101005   51   0  0  0  0  0  0  0  4
...              ...  .. .. .. .. .. .. .. ..
390490107001015   92  17  0  0  0  0  0  1  2
390490107001016    9   0  0  0  0  0  0  0  0
390490107001017   42   6  0  0  0  9  0  0  0
390490107001020  167  20  0  0  0  7  0  1  1
390499800001027    2   0  0  0  0  0  0  0  0

[15048 rows x 9 columns]

#### **Add noises (Zero-concentrated differential privacy)**
There are two core components to the 2020 DAS: noise injection and post-processing. We only focus on the noise injection here. Consistent with the 2020 DAS, discrete Gaussian noise is applied.

Bun, M., & Steinke, T. (2016, November). Concentrated differential privacy: Simplifications, extensions, and lower bounds. In Theory of Cryptography Conference (pp. 635-658). Springer, Berlin, Heidelberg.

Parameters for generating Gaussian noise.

In [105]:
import math
import numpy as np

# privacy budget allocation
delta = 10 ** (-10)
eps = 12.2 * 9/4097

# calculate sigma (standard deviation)
sigma = math.sqrt(1 / (2 * eps))
# privacy loss budget in differential privacy
eps0 = eps + 2 * sqrt(eps * log(1 / delta))
eps, eps0

(0.02680009763241396, 1.59790805444737)

Probability of generating zero noise and one noise.

In [143]:
import scipy.stats

scipy.stats.norm(0, sigma).cdf(0.5) - scipy.stats.norm(0, sigma).cdf(-0.5), scipy.stats.norm(0, sigma).pdf(1)

(0.0921561217750953, 0.08991954842684334)

Add noise to histogram.

In [150]:
hist2 = hist1 + np.round(np.random.normal(0, sigma, size=(hist1.shape)), 0)
hist2

RAC1P                1     2    3     4    5     6    7    8     9
GEOID10
390490001101001    4.0  -1.0  0.0   4.0  3.0   1.0  3.0 -6.0   3.0
390490001101002   41.0  -4.0  1.0   2.0  2.0   3.0 -4.0  0.0  -6.0
390490001101003   54.0  10.0  5.0   3.0  1.0   3.0  4.0  1.0   4.0
390490001101004   40.0   8.0  3.0   2.0  3.0  -5.0 -1.0  5.0  -3.0
390490001101005   49.0   2.0  9.0  -6.0  2.0   3.0  2.0  1.0  15.0
...                ...   ...  ...   ...  ...   ...  ...  ...   ...
390490107001015  100.0  11.0 -2.0 -10.0 -3.0  -6.0  5.0  4.0   8.0
390490107001016   -3.0  -9.0  6.0  -2.0  0.0   7.0 -8.0  7.0   0.0
390490107001017   47.0   5.0  6.0  -6.0  0.0  14.0 -3.0  5.0  -5.0
390490107001020  171.0  27.0  2.0   3.0 -1.0   9.0  2.0  9.0  -5.0
390499800001027    5.0   2.0  0.0   6.0 -4.0  -3.0  0.0  0.0  -9.0

[15048 rows x 9 columns]

####**Check cell uniqueness**
Young, C., Martin, D., & Skinner, C. (2009). Geographically intelligent disclosure control for flexible aggregation of census data. International Journal of Geographical Information Science, 23(4), 457-482.

Privacy measure: probability of finding a true unique

In [147]:
# find a true unique
tu = (hist1 == hist2) & (hist1 == 1) & (hist2 == 1)
n_tu = np.unique(tu.values, return_counts=True)[1][1]
n_tu

(array([False,  True]), array([134866,    566]))

In [157]:
# uniques after noise injection
u = hist2 == 1
n_u = np.unique(u.values, return_counts=True)[1][1]
n_u

10017

In [135]:
# frequency of finding the true uniques
p_tu = n_tu / n_u
p_tu

0.0556547619047619

Let $A_i$ = {cell = $i$ before noise injection}, and the noise be $W\sim N(0,\sigma^2)$. A true unique (TU) is a cell = 1 before and after noise injection. The probability of finding a true unique can be defined using the Bayes' theorem:

$p(TU)=\frac{p(-0.5<=W<=0.5)p(A_1)}{\sum_ip(0.5-i<=W<=1.5-i)p(A_i)}$


$p(TU)$ is large if (i) the histogram is dominantly "unique", and/or (ii) non-unique cells have relatively large values.

In [173]:
column_values = hist1[[1, 2, 3, 4, 5, 6, 7, 8, 9]].values.ravel()
A = pd.unique(column_values)

probs = []
for i in A:
    p1 = scipy.stats.norm(0, sigma).cdf(0.5 - i) - scipy.stats.norm(0, sigma).cdf(1.5 - i)
    u0 = hist1 == i
    p2 = np.unique(u0.values, return_counts=True)[1][1] / (np.unique(u0.values, return_counts=True)[1][1] + 
                                                           np.unique(u0.values, return_counts=True)[1][0])
    probs.append(p1 * p2)

p3 = scipy.stats.norm(0, sigma).cdf(-0.5) - scipy.stats.norm(0, sigma).cdf(0.5)
u0 = hist1 == 1
p4 = np.unique(u0.values, return_counts=True)[1][1] / (np.unique(u0.values, return_counts=True)[1][1] + 
                                                       np.unique(u0.values, return_counts=True)[1][0])
p_tu = p3 * p4 / sum(probs)
p_tu

0.05347450621498629

We also use a bootstrap method to calculate the expected frequency (probability) of finding the true uniques.

In [138]:
import statistics
import numpy as np

N = 1000    # bootstrap times
p_tus = []

for i in range(N):
    hist2 = hist1 + np.round(np.random.normal(0, sigma, size=(hist1.shape)), 0)
    # find a true unique
    tu = (hist1 == hist2) & (hist1 == 1) & (hist2 == 1)
    n_tu = np.unique(tu.values, return_counts=True)[1][1]
    # uniques after noise injection
    u = hist2 == 1
    n_u = np.unique(u.values, return_counts=True)[1][1]
    # frequency of finding the true uniques
    p_tu = n_tu / n_u
    p_tus.append(p_tu)

statistics.mean(p_tus)

0.05351227866574452

####**Check LP metric**
Wieland, S. C., Cassa, C. A., Mandl, K. D., & Berger, B. (2008). Revealing the spatial distribution of a disease while preserving privacy. Proceedings of the National Academy of Sciences, 105(46), 17608-17613.

Privacy measure: probability that any chosen member of the population belong to the target population