<a href="https://colab.research.google.com/github/linyuehzzz/census_privacy/blob/main/differential_privacy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

#### **Read synthetic population data**

In [2]:
%cd "/content/gdrive/My Drive/Colab Notebooks/census_privacy"
import pandas as pd

filename_people = 'franklin/microdata/franklin_peoplev0.csv'
data_people = pd.read_csv(filename_people)
data_people

/content/gdrive/My Drive/Colab Notebooks/census_privacy

                 GEOID10   PUMAID  SEX  ...  HouseholdID        lon        lat
0        390490001101001  3904102    1  ...            1 -82.999368  40.054253
1        390490001101001  3904102    2  ...            1 -82.999368  40.054253
2        390490001101002  3904102    2  ...            4 -83.002695  40.060864
3        390490001101002  3904102    2  ...            5 -83.001629  40.060899
4        390490001101002  3904102    2  ...            6 -83.001937  40.060852
...                  ...      ...  ...  ...          ...        ...        ...
1138714  390490107001020  3904102    2  ...           70 -83.017831  40.065591
1138715  390490107001020  3904102    1  ...          108 -83.017814  40.062582
1138716  390490107001020  3904102    2  ...           95 -83.018259  40.064492
1138717  390499800001027  3904106    1  ...            1 -82.879433  40.004085
1138718  390499800001027  3904106    2  ...            1 -82.879433  40.004085

[1138719 rows x 25 columns]

#### **Create original histograms**
We consider the query of race (RAC1P) for the purpose of demonstration. Cell uniqueness is presented in this query.

In [12]:
hist1 = pd.crosstab(data_people.GEOID10, data_people.RAC1P)