<a href="https://colab.research.google.com/github/linyuehzzz/census_privacy/blob/main/guernsey_data_census.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

####**Add GEOID10 (block)**

In [ ]:
%cd "/content/gdrive/My Drive/Colab Notebooks/census_privacy"
import pandas as pd
filename = 'guernsey/sf1/guernsey_P12G.csv'
data = pd.read_csv(filename)
data['STATE'] = data['STATE'].apply('{:0>2}'.format)
data['COUNTY'] = data['COUNTY'].apply('{:0>3}'.format)
data['TRACT'] = data['TRACT'].apply('{:0>6}'.format)
data['BLOCK'] = data['BLOCK'].apply('{:0>4}'.format)
data['GEOID10'] = data[['STATE', 'COUNTY', 'TRACT', 'BLOCK']].apply(lambda x: ''.join(x), axis=1)

data.to_csv(filename, index=False)
data.head()

/content/gdrive/My Drive/Colab Notebooks/census_privacy

  FILEID STUSAB  SUMLEV  ...  P012G048  P012G049          GEOID10
0  SF1ST     OH     101  ...         0         0  391119666002047
1  SF1ST     OH     101  ...         0         0  391119666002055
2  SF1ST     OH     101  ...         0         0  391119666002056
3  SF1ST     OH     101  ...         0         0  391119666002057
4  SF1ST     OH     101  ...         0         0  391119666002058

[5 rows x 60 columns]

####**Constraint variables (block + race + sex + age)**

P012A - G in SF1

In [ ]:
%cd "/content/gdrive/My Drive/Colab Notebooks/census_privacy"
import pandas as pd
import numpy as np
import csv

tl = ["A", "B", "C", "D", "E", "F", "G"]
for a in tl:
    input = "monroe/sf1/monroe_P12" + a + ".csv"
    data = pd.read_csv(input)
    table = "P012" + a
    race = tl.index(a) + 1

    for sex in [1, 2]:
        o_id = (race - 1) * 2 + sex
        output = "monroe/microdata/by_race/monroe_md" + str(o_id) + ".csv"

        # male: table + "003" - table + "025"
        # female: table + "027" - table + "049"
        start = 3 if sex == 1 else 27    # 3 or 27

        with open(output, 'w', newline='') as csvfile:
            writer = csv.writer(csvfile, delimiter=',')
            writer.writerow(["GEOID10", "race", "sex", "age", "age_v"])
            for index, row in data.iterrows():
                GEOID10 = row["GEOID10"]
                # print(GEOID10)
                for k in range(start, start + 23):
                    age = k - 2 if sex == 1 else k - 26
                    col_name = table + str(k).zfill(3)
                    cnt = row[col_name]
                    for i in range(cnt):
                        if age == 1:
                            age_v = np.random.randint(0, 4, size=1)[0]
                        elif age == 2:
                            age_v = np.random.randint(5, 9, size=1)[0]
                        elif age == 3:
                            age_v = np.random.randint(10, 14, size=1)[0]
                        elif age == 4:
                            age_v = np.random.randint(15, 17, size=1)[0]
                        elif age == 5:
                            age_v = np.random.randint(18, 19, size=1)[0]
                        elif age == 6:
                            age_v = 20
                        elif age == 7:
                            age_v = 21
                        elif age == 8:
                            age_v = np.random.randint(22, 24, size=1)[0]
                        elif age == 9:
                            age_v = np.random.randint(25, 29, size=1)[0]
                        elif age == 10:
                            age_v = np.random.randint(30, 34, size=1)[0]
                        elif age == 11:
                            age_v = np.random.randint(35, 39, size=1)[0]
                        elif age == 12:
                            age_v = np.random.randint(40, 44, size=1)[0]
                        elif age == 13:
                            age_v = np.random.randint(45, 49, size=1)[0]
                        elif age == 14:
                            age_v = np.random.randint(50, 54, size=1)[0]
                        elif age == 15:
                            age_v = np.random.randint(55, 59, size=1)[0]
                        elif age == 16:
                            age_v = np.random.randint(60, 61, size=1)[0]
                        elif age == 17:
                            age_v = np.random.randint(62, 64, size=1)[0]
                        elif age == 18:
                            age_v = np.random.randint(65, 66, size=1)[0]
                        elif age == 19:
                            age_v = np.random.randint(67, 69, size=1)[0]
                        elif age == 20:
                            age_v = np.random.randint(70, 74, size=1)[0]
                        elif age == 21:
                            age_v = np.random.randint(75, 79, size=1)[0]
                        elif age == 22:
                            age_v = np.random.randint(80, 84, size=1)[0]
                        else:
                            age_v = np.random.randint(85, 100, size=1)[0]
                        writer.writerow([GEOID10, race, sex, age, age_v])

/content/gdrive/My Drive/Colab Notebooks/census_privacy

In [ ]:
%cd "/content/gdrive/My Drive/Colab Notebooks/census_privacy"
# merge all files into one
import pandas as pd
import glob
import os
  
joined_files = os.path.join("monroe/microdata/by_race", "monroe_md*.csv")
joined_list = glob.glob(joined_files)
df = pd.concat(map(pd.read_csv, joined_list), ignore_index=True)
df = df.sort_values(by=["GEOID10", "age"])
df.to_csv("monroe/microdata/monroe_people_all.csv", index=False)
df

/content/gdrive/My Drive/Colab Notebooks/census_privacy

               GEOID10  race  sex  age  age_v
6490   391119666001002     1    1    1      1
6491   391119666001002     1    1    3     11
13730  391119666001002     1    2    3     11
6492   391119666001002     1    1   10     33
13731  391119666001002     1    2   10     33
...                ...   ...  ...  ...    ...
3053   391119669004111     1    1    6     20
3054   391119669004111     1    1   12     42
3055   391119669004111     1    1   13     47
10269  391119669004111     1    2   13     46
10270  391119669004111     1    2   13     46

[14642 rows x 5 columns]

####**Extract PUMS in Monroe county**

In [ ]:
%cd "/content/gdrive/My Drive/Colab Notebooks/census_privacy"
import pandas as pd

filename_pums = 'monroe/pums/psam_p39.csv'
data_pums = pd.read_csv(filename_pums)
data_pums.head()

/content/gdrive/My Drive/Colab Notebooks/census_privacy

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

  RT       SERIALNO  DIVISION  SPORDER  ...  PWGTP77  PWGTP78  PWGTP79  PWGTP80
0  P  2015000000028         3        1  ...        8       26       26       19
1  P  2015000000028         3        2  ...        7       22       19       19
2  P  2015000000028         3        3  ...        6       21       20       20
3  P  2015000000028         3        4  ...       10       31       28       28
4  P  2015000000029         3        1  ...       20       20       12       12

[5 rows x 288 columns]

In [ ]:
pums_mon = data_pums[data_pums["PUMA"] == 3600]
pums_mon.head()

    RT       SERIALNO  DIVISION  SPORDER  ...  PWGTP77  PWGTP78  PWGTP79  PWGTP80
47   P  2015000000613         3        1  ...       33       33       18       19
119  P  2015000001415         3        1  ...       16       14       15       25
400  P  2015000004965         3        1  ...        1        6        7        6
442  P  2015000005709         3        1  ...        9        5        9        9
531  P  2015000006983         3        1  ...        2        8        8       15

[5 rows x 288 columns]

In [ ]:
%cd "/content/gdrive/My Drive/Colab Notebooks/census_privacy"
pums_mon['ST'] = pums_mon['ST'].apply('{:0>2}'.format)
pums_mon['PUMA'] = pums_mon['PUMA'].apply('{:0>5}'.format)
pums_mon['PUMAID'] = pums_mon[['ST', 'PUMA']].apply(lambda x: ''.join(x), axis=1)

pums_mon.to_csv("monroe/pums/monroe_pums10.csv", index=False)
pums_mon

/content/gdrive/My Drive/Colab Notebooks/census_privacy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

       RT       SERIALNO  DIVISION  SPORDER  ... PWGTP78  PWGTP79 PWGTP80   PUMAID
47      P  2015000000613         3        1  ...      33       18      19  3903600
119     P  2015000001415         3        1  ...      14       15      25  3903600
400     P  2015000004965         3        1  ...       6        7       6  3903600
442     P  2015000005709         3        1  ...       5        9       9  3903600
531     P  2015000006983         3        1  ...       8        8      15  3903600
...    ..            ...       ...      ...  ...     ...      ...     ...      ...
592546  P  2019HU1405899         3        5  ...      12        9       3  3903600
592567  P  2019HU1406051         3        1  ...      12        9       9  3903600
592568  P  2019HU1406051         3        2  ...      19       15      14  3903600
593032  P  2019HU1412016         3        1  ...      65       49      14  3903600
593033  P  2019HU1412016         3        2  ...      57       35      12  3903600

[6573 rows x 289 columns]

In [ ]:
%cd "/content/gdrive/My Drive/Colab Notebooks/census_privacy"
import pandas as pd

filename_pums = 'monroe/pums/monroe_pums10.csv'
data_pums = pd.read_csv(filename_pums)
data_pums = data_pums[["PUMAID", "SEX", "RAC1P", "AGEP", "DIS", "MSP", "MIG", "MIL", "SCHL", 
"FOD1P", "HICOV", "PRIVCOV", "PUBCOV", "PINCP", "POVPIP", "COW", "ESR", "SOCP", "JWMNP", "JWRIP", "JWTRNS"]]
data_pums.to_csv("monroe/pums/monroe_pums10v2.csv", index=False)
data_pums

/content/gdrive/My Drive/Colab Notebooks/census_privacy

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

       PUMAID  SEX  RAC1P  AGEP  DIS  ...  ESR    SOCP  JWMNP  JWRIP  JWTRNS
0     3903600    1      1    42    2  ...  6.0  472031    NaN    NaN     NaN
1     3903600    1      1    89    1  ...  6.0     NaN    NaN    NaN     NaN
2     3903600    1      9    18    2  ...  6.0  359021    NaN    NaN     NaN
3     3903600    2      1    86    1  ...  6.0     NaN    NaN    NaN     NaN
4     3903600    2      1    58    1  ...  1.0  436014    6.0    1.0     1.0
...       ...  ...    ...   ...  ...  ...  ...     ...    ...    ...     ...
6568  3903600    1      1    15    2  ...  NaN     NaN    NaN    NaN     NaN
6569  3903600    2      1    77    2  ...  6.0  514031    NaN    NaN     NaN
6570  3903600    1      1    71    1  ...  6.0     NaN    NaN    NaN     NaN
6571  3903600    1      1    82    2  ...  6.0     NaN    NaN    NaN     NaN
6572  3903600    2      1    78    2  ...  6.0     NaN    NaN    NaN     NaN

[6573 rows x 21 columns]

####**Extract NHGIS data in Franklin county**

In [3]:
# block
%cd "/content/gdrive/My Drive/Colab Notebooks/census_privacy"
import pandas as pd

filename_nhgis = 'monroe/nhgis/nhgis_ppdd_20210608_block_OH.csv'
data_nhgis = pd.read_csv(filename_nhgis)
data_nhgis["STATE"] = data_nhgis["gisjoin"].str.slice(1, 3)
data_nhgis['COUNTY'] = data_nhgis["gisjoin"].str.slice(4, 7)
data_nhgis['TRACT'] = data_nhgis["gisjoin"].str.slice(8, 14)
data_nhgis['BLOCK'] = data_nhgis["gisjoin"].str.slice(14, 18)
data_nhgis['GEOID10'] = data_nhgis[['STATE', 'COUNTY', 'TRACT', 'BLOCK']].apply(lambda x: ''.join(x), axis=1)
data_nhgis = data_nhgis[data_nhgis["COUNTY"] == '111']
data_nhgis = data_nhgis[['GEOID10', 'H72003_dp', 'H72004_dp', 'H72005_dp', 'H72006_dp', 'H72007_dp', 'H72008_dp', 'H72009_dp', 
                         'H72003_sf', 'H72004_sf', 'H72005_sf', 'H72006_sf', 'H72007_sf', 'H72008_sf', 'H72009_sf']]
data_nhgis = data_nhgis.loc[(data_nhgis[['H72003_sf', 'H72004_sf', 'H72005_sf', 'H72006_sf', 'H72007_sf', 'H72008_sf', 'H72009_sf']] != 0).any(1)]
data_nhgis.to_csv("monroe/nhgis/monroe_nhgis_block.csv", index=False)
data_nhgis

/content/gdrive/My Drive/Colab Notebooks/census_privacy

                GEOID10  H72003_dp  H72004_dp  ...  H72007_sf  H72008_sf  H72009_sf
233401  391119666001002          1          0  ...          0          0          0
233403  391119666001004         99          0  ...          0          0          0
233406  391119666001007         13          0  ...          0          0          0
233411  391119666001012         18          0  ...          0          0          0
233413  391119666001014         25          0  ...          0          0          0
...                 ...        ...        ...  ...        ...        ...        ...
235216  391119669004104          4          0  ...          0          0          0
235217  391119669004105          5          0  ...          0          0          0
235220  391119669004108         15          0  ...          0          0          0
235221  391119669004109          6          0  ...          0          0          0
235223  391119669004111          3          0  ...          0          0          0

[1049 rows x 15 columns]

In [4]:
# block group
%cd "/content/gdrive/My Drive/Colab Notebooks/census_privacy"
import pandas as pd

filename_nhgis = 'monroe/nhgis/nhgis_ppdd_20210608_blck_grp.csv'
data_nhgis = pd.read_csv(filename_nhgis)
data_nhgis["STATE"] = data_nhgis["gisjoin"].str.slice(1, 3)
data_nhgis['COUNTY'] = data_nhgis["gisjoin"].str.slice(4, 7)
data_nhgis['TRACT'] = data_nhgis["gisjoin"].str.slice(8, 14)
data_nhgis['BG'] = data_nhgis["gisjoin"].str.slice(14, 15)
data_nhgis['GEOID10'] = data_nhgis[['STATE', 'COUNTY', 'TRACT', 'BG']].apply(lambda x: ''.join(x), axis=1)
data_nhgis = data_nhgis[(data_nhgis["STATE"] == '39') & (data_nhgis["COUNTY"] == '111')]
data_nhgis = data_nhgis[['GEOID10', 'H72003_dp', 'H72004_dp', 'H72005_dp', 'H72006_dp', 'H72007_dp', 'H72008_dp', 'H72009_dp', 
                         'H72003_sf', 'H72004_sf', 'H72005_sf', 'H72006_sf', 'H72007_sf', 'H72008_sf', 'H72009_sf']]
data_nhgis = data_nhgis.loc[(data_nhgis[['H72003_sf', 'H72004_sf', 'H72005_sf', 'H72006_sf', 'H72007_sf', 'H72008_sf', 'H72009_sf']] != 0).any(1)]
data_nhgis.to_csv("monroe/nhgis/monroe_nhgis_bg.csv", index=False)
data_nhgis

/content/gdrive/My Drive/Colab Notebooks/census_privacy

             GEOID10  H72003_dp  H72004_dp  ...  H72007_sf  H72008_sf  H72009_sf
156411  391119666001        620          0  ...          0          0          4
156412  391119666002        898          2  ...          1          0         11
156413  391119666003        600          1  ...          0          0          3
156414  391119666004       1453          5  ...          0          0         20
156415  391119667001        998          0  ...          0          0          5
156416  391119667002       1289          1  ...          0          0         10
156417  391119667003        787          0  ...          0          0         14
156418  391119667004        649          0  ...          0          0          9
156419  391119668001        954          3  ...          0          0          7
156420  391119668002        774          2  ...          0          0         14
156421  391119668003        862         11  ...          0          9         15
156422  391119668004       1250          0  ...          0          0          7
156423  391119669001        923          3  ...          1          0         18
156424  391119669002        747          2  ...          0          0         14
156425  391119669003        767          4  ...          0          7         14
156426  391119669004        804          0  ...          0          0          7

[16 rows x 15 columns]

In [6]:
# tract
%cd "/content/gdrive/My Drive/Colab Notebooks/census_privacy"
import pandas as pd

filename_nhgis = 'monroe/nhgis/nhgis_ppdd_20210608_tract.csv'
data_nhgis = pd.read_csv(filename_nhgis)
data_nhgis["STATE"] = data_nhgis["gisjoin"].str.slice(1, 3)
data_nhgis['COUNTY'] = data_nhgis["gisjoin"].str.slice(4, 7)
data_nhgis['TRACT'] = data_nhgis["gisjoin"].str.slice(8, 14)
data_nhgis['GEOID10'] = data_nhgis[['STATE', 'COUNTY', 'TRACT']].apply(lambda x: ''.join(x), axis=1)
data_nhgis = data_nhgis[(data_nhgis["STATE"] == '39') & (data_nhgis["COUNTY"] == '059')]
data_nhgis = data_nhgis[['GEOID10', 'H72003_dp', 'H72004_dp', 'H72005_dp', 'H72006_dp', 'H72007_dp', 'H72008_dp', 'H72009_dp', 
                         'H72003_sf', 'H72004_sf', 'H72005_sf', 'H72006_sf', 'H72007_sf', 'H72008_sf', 'H72009_sf']]
data_nhgis = data_nhgis.loc[(data_nhgis[['H72003_sf', 'H72004_sf', 'H72005_sf', 'H72006_sf', 'H72007_sf', 'H72008_sf', 'H72009_sf']] != 0).any(1)]
data_nhgis.to_csv("monroe/nhgis/monroe_nhgis_tract.csv", index=False)
data_nhgis

/content/gdrive/My Drive/Colab Notebooks/census_privacy

           GEOID10  H72003_dp  H72004_dp  ...  H72007_sf  H72008_sf  H72009_sf
51795  39059977100       4531         12  ...          0          4         58
51796  39059977200       4724         14  ...          3          5         54
51797  39059977300       3360        118  ...          1         16        123
51798  39059977400       3389        147  ...          1         14         92
51799  39059977500       3223        104  ...          0          8         85
51800  39059977600       2970         57  ...          1          3         74
51801  39059977700       3715         24  ...          0          9         32
51802  39059977800       3910         13  ...          2         10         52
51803  39059977900       4424         11  ...          2          1         64
51804  39059978000       4334         17  ...          0          6         81

[10 rows x 15 columns]