<a href="https://colab.research.google.com/github/linyuehzzz/dp_census/blob/main/sdv_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**SDV**
This code implements the demo code for SDV.  
Yue Lin (lin.3326 at osu.edu)  
Created: 8/18/2021

In [1]:
pip install sdv

Collecting sdv
  Downloading sdv-0.11.0-py2.py3-none-any.whl (85 kB)
     |████████████████████████████████| 85 kB 1.4 MB/s
Collecting copulas<0.6,>=0.5.0
  Downloading copulas-0.5.1-py2.py3-none-any.whl (50 kB)
     |████████████████████████████████| 50 kB 2.4 MB/s
Collecting pomegranate<0.14.2,>=0.13.4
  Downloading pomegranate-0.14.1-cp37-cp37m-manylinux2010_x86_64.whl (17.9 MB)
     |████████████████████████████████| 17.9 MB 61.2 MB/s
Requirement already satisfied: numpy<2,>=1.18.0 in /usr/local/lib/python3.7/dist-packages (from sdv) (1.19.5)
Collecting graphviz<1,>=0.13.2
  Downloading graphviz-0.17-py3-none-any.whl (18 kB)
Collecting Faker<4.15,>=1.0.1
  Downloading Faker-4.14.2-py3-none-any.whl (1.1 MB)
     |████████████████████████████████| 1.1 MB 34.2 MB/s
Collecting deepecho<0.3,>=0.2.0
  Downloading deepecho-0.2.0-py2.py3-none-any.whl (26 kB)
Collecting sktime<0.6,>=0.4
  Downloading sktime-0.5.3-cp37-cp37m-manylinux2014_x86_64.whl (5.7 MB)
     |████████████████████████████████| 5.7 MB 21.6 MB/s
Collecting ctgan<0.5,>=0.4.3
  Downloading ctgan-0.4.3-py2.py3-none-any.whl (21 kB)
Requirement already satisfied: torch<2,>=1.4 in /usr/local/lib/python3.7/dist-packages (from sdv) (1.9.0+cu102)
Requirement already satisfied: torchvision<1,>=0.5.0 in /usr/local/lib/python3.7/dist-packages (from sdv) (0.10.0+cu102)
Collecting rdt<0.6,>=0.5.0
  Downloading rdt-0.5.2-py2.py3-none-any.whl (23 kB)
Collecting sdmetrics<0.4,>=0.3.1
  Downloading sdmetrics-0.3.2-py2.py3-none-any.whl (95 kB)
     |████████████████████████████████| 95 kB 4.2 MB/s
Requirement already satisfied: tqdm<5,>=4.14 in /usr/local/lib/python3.7/dist-packages (from sdv) (4.62.0)
Collecting pandas<1.1.5,>=1.1
  Downloading pandas-1.1.4-cp37-cp37m-manylinux1_x86_64.whl (9.5 MB)
     |████████████████████████████████| 9.5 MB 29.1 MB/s
Requirement already satisfied: scipy<2,>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from copulas<0.6,>=0.5.0->sdv) (1.4.1)
Requirement already satisfied: matplotlib<4,>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from copulas<0.6,>=0.5.0->sdv) (3.2.2)
Collecting scikit-learn<1,>=0.23
  Downloading scikit_learn-0.24.2-cp37-cp37m-manylinux2010_x86_64.whl (22.3 MB)
     |████████████████████████████████| 22.3 MB 1.7 MB/s
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from ctgan<0.5,>=0.4.3->sdv) (21.0)
Requirement already satisfied: text-unidecode==1.3 in /usr/local/lib/python3.7/dist-packages (from Faker<4.15,>=1.0.1->sdv) (1.3)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from Faker<4.15,>=1.0.1->sdv) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib<4,>=3.2.0->copulas<0.6,>=0.5.0->sdv) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib<4,>=3.2.0->copulas<0.6,>=0.5.0->sdv) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib<4,>=3.2.0->copulas<0.6,>=0.5.0->sdv) (1.3.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from cycler>=0.10->matplotlib<4,>=3.2.0->copulas<0.6,>=0.5.0->sdv) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas<1.1.5,>=1.1->sdv) (2018.9)
Requirement already satisfied: joblib>=0.9.0b4 in /usr/local/lib/python3.7/dist-packages (from pomegranate<0.14.2,>=0.13.4->sdv) (1.0.1)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.7/dist-packages (from pomegranate<0.14.2,>=0.13.4->sdv) (3.13)
Requirement already satisfied: networkx>=2.0 in /usr/local/lib/python3.7/dist-packages (from pomegranate<0.14.2,>=0.13.4->sdv) (2.6.2)
Collecting psutil<6,>=5.7
  Downloading psutil-5.8.0-cp37-cp37m-manylinux2010_x86_64.whl (296 kB)
     |████████████████████████████████| 296 kB 48.2 MB/s
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-2.2.0-py3-none-any.whl (12 kB)
Collecting statsmodels>=0.12.1
  Downloading statsmodels-0.12.2-cp37-cp37m-manylinux1_x86_64.whl (9.5 MB)
     |████████████████████████████████| 9.5 MB 39.2 MB/s
Requirement already satisfied: wheel in /usr/local/lib/python3.7/dist-packages (from sktime<0.6,>=0.4->sdv) (0.37.0)
Requirement already satisfied: numba>=0.50 in /usr/local/lib/python3.7/dist-packages (from sktime<0.6,>=0.4->sdv) (0.51.2)
Requirement already satisfied: llvmlite<0.35,>=0.34.0.dev0 in /usr/local/lib/python3.7/dist-packages (from numba>=0.50->sktime<0.6,>=0.4->sdv) (0.34.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from numba>=0.50->sktime<0.6,>=0.4->sdv) (57.4.0)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.7/dist-packages (from statsmodels>=0.12.1->sktime<0.6,>=0.4->sdv) (0.5.1)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from torch<2,>=1.4->sdv) (3.7.4.3)
Requirement already satisfied: pillow>=5.3.0 in /usr/local/lib/python3.7/dist-packages (from torchvision<1,>=0.5.0->sdv) (7.1.2)
Installing collected packages: threadpoolctl, pandas, statsmodels, scikit-learn, psutil, sktime, rdt, copulas, sdmetrics, pomegranate, graphviz, Faker, deepecho, ctgan, sdv
  Attempting uninstall: pandas
    Found existing installation: pandas 1.1.5
    Uninstalling pandas-1.1.5:
      Successfully uninstalled pandas-1.1.5
  Attempting uninstall: statsmodels
    Found existing installation: statsmodels 0.10.2
    Uninstalling statsmodels-0.10.2:
      Successfully uninstalled statsmodels-0.10.2
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 0.22.2.post1
    Uninstalling scikit-learn-0.22.2.post1:
      Successfully uninstalled scikit-learn-0.22.2.post1
  Attempting uninstall: psutil
    Found existing installation: psutil 5.4.8
    Uninstalling psutil-5.4.8:
      Successfully uninstalled psutil-5.4.8
  Attempting uninstall: graphviz
    Found existing installation: graphviz 0.10.1
    Uninstalling graphviz-0.10.1:
      Successfully uninstalled graphviz-0.10.1
Successfully installed Faker-4.14.2 copulas-0.5.1 ctgan-0.4.3 deepecho-0.2.0 graphviz-0.17 pandas-1.1.4 pomegranate-0.14.1 psutil-5.8.0 rdt-0.5.2 scikit-learn-0.24.2 sdmetrics-0.3.2 sdv-0.11.0 sktime-0.5.3 statsmodels-0.12.2 threadpoolctl-2.2.0

####**GaussianCopula Model**

Load original data

In [29]:
from sdv.demo import load_tabular_demo

data = load_tabular_demo('student_placements')
data.head()

   student_id gender  second_perc  ...  start_date   end_date  duration
0       17264      M        67.00  ...  2020-07-23 2020-10-12       3.0
1       17265      M        79.33  ...  2020-01-11 2020-04-09       3.0
2       17266      M        65.00  ...  2020-01-26 2020-07-13       6.0
3       17267      M        56.00  ...         NaT        NaT       NaN
4       17268      M        85.80  ...  2020-07-04 2020-09-27       3.0

[5 rows x 17 columns]

Constraints (reject sampling)

In [30]:
from sdv.constraints import GreaterThan

end_date_gt_start_date_constraint = GreaterThan(
    low='start_date',
    high='end_date',
    handling_strategy='reject_sampling'
)

Constraints (transform)

In [43]:
# from sdv.constraints import ColumnFormula
# import numpy as np

# def duration(data):
#     diff = ((data.end_date - data.start_date)/np.timedelta64(1, 'M'))
#     return diff.astype('Int64', errors='ignore')

# duration_constraint = ColumnFormula(
#     column='duration',
#     formula=duration,
#     handling_strategy='transform'
# )

0      2.661246
1      2.924085
2      5.552475
3           NaN
4      2.792665
         ...
210    2.792665
211    6.373848
212    6.340993
213    3.022649
214         NaN
Length: 215, dtype: float64

Fit original data

In [44]:
from sdv.tabular import GaussianCopula

constraints = [
    end_date_gt_start_date_constraint
]

model = GaussianCopula(constraints=constraints)
model.fit(data)

/usr/local/lib/python3.7/dist-packages/scipy/stats/_continuous_distns.py:547: RuntimeWarning: invalid value encountered in sqrt
  sk = 2*(b-a)*np.sqrt(a + b + 1) / (a + b + 2) / np.sqrt(a*b)
/usr/local/lib/python3.7/dist-packages/scipy/stats/_continuous_distns.py:4798: RuntimeWarning: divide by zero encountered in true_divide
  return c**2 / (c**2 - n**2)
/usr/local/lib/python3.7/dist-packages/scipy/stats/_distn_infrastructure.py:2407: RuntimeWarning: invalid value encountered in double_scalars
  Lhat = muhat - Shat*mu
/usr/local/lib/python3.7/dist-packages/scipy/stats/_continuous_distns.py:4798: RuntimeWarning: divide by zero encountered in true_divide
  return c**2 / (c**2 - n**2)
/usr/local/lib/python3.7/dist-packages/scipy/stats/_distn_infrastructure.py:2407: RuntimeWarning: invalid value encountered in double_scalars
  Lhat = muhat - Shat*mu
/usr/local/lib/python3.7/dist-packages/scipy/stats/_continuous_distns.py:547: RuntimeWarning: invalid value encountered in sqrt
  sk = 2*(b-a)*np.sqrt(a + b + 1) / (a + b + 2) / np.sqrt(a*b)
/usr/local/lib/python3.7/dist-packages/scipy/optimize/minpack.py:162: RuntimeWarning: The iteration is not making good progress, as measured by the
  improvement from the last ten iterations.
  warnings.warn(msg, RuntimeWarning)
/usr/local/lib/python3.7/dist-packages/scipy/optimize/minpack.py:162: RuntimeWarning: The number of calls to function has reached maxfev = 600.
  warnings.warn(msg, RuntimeWarning)
/usr/local/lib/python3.7/dist-packages/copulas/univariate/truncated_gaussian.py:43: RuntimeWarning: invalid value encountered in double_scalars
  a = (self.min - loc) / scale
/usr/local/lib/python3.7/dist-packages/copulas/univariate/truncated_gaussian.py:44: RuntimeWarning: divide by zero encountered in double_scalars
  b = (self.max - loc) / scale

Get distributions

In [33]:
distributions = model.get_distributions()
distributions

{'degree_perc': 'copulas.univariate.student_t.StudentTUnivariate',
 'degree_type#0': 'copulas.univariate.gaussian.GaussianUnivariate',
 'degree_type#1': 'copulas.univariate.student_t.StudentTUnivariate',
 'degree_type#2': 'copulas.univariate.gaussian.GaussianUnivariate',
 'employability_perc': 'copulas.univariate.truncated_gaussian.TruncatedGaussian',
 'end_date#0': 'copulas.univariate.gamma.GammaUnivariate',
 'end_date#1': 'copulas.univariate.gaussian.GaussianUnivariate',
 'experience_years': 'copulas.univariate.gaussian.GaussianUnivariate',
 'gender#0': 'copulas.univariate.gaussian.GaussianUnivariate',
 'gender#1': 'copulas.univariate.gaussian.GaussianUnivariate',
 'high_perc': 'copulas.univariate.log_laplace.LogLaplace',
 'high_spec#0': 'copulas.univariate.gamma.GammaUnivariate',
 'high_spec#1': 'copulas.univariate.gaussian.GaussianUnivariate',
 'high_spec#2': 'copulas.univariate.gaussian.GaussianUnivariate',
 'mba_perc': 'copulas.univariate.gamma.GammaUnivariate',
 'mba_spec#0': 'copulas.univariate.gaussian.GaussianUnivariate',
 'mba_spec#1': 'copulas.univariate.gamma.GammaUnivariate',
 'placed': 'copulas.univariate.gamma.GammaUnivariate',
 'salary#0': 'copulas.univariate.gamma.GammaUnivariate',
 'salary#1': 'copulas.univariate.gaussian.GaussianUnivariate',
 'second_perc': 'copulas.univariate.truncated_gaussian.TruncatedGaussian',
 'start_date#0': 'copulas.univariate.gamma.GammaUnivariate',
 'start_date#1': 'copulas.univariate.gaussian.GaussianUnivariate',
 'student_id': 'copulas.univariate.truncated_gaussian.TruncatedGaussian',
 'work_experience': 'copulas.univariate.student_t.StudentTUnivariate'}

Conditional sampling

In [45]:
conditions = {
    'gender': 'M',
    'experience_years': 0
}
model.sample(10, conditions=conditions)

   student_id gender  second_perc  ...  start_date   end_date  duration
0       17303      M        58.81  ...  2020-02-05 2021-01-10      12.0
1       17453      M        78.81  ...  2020-01-17 2020-10-15      12.0
2       17411      M        60.51  ...  2020-01-18 2020-06-25       NaN
3       17278      M        70.22  ...  2020-03-16 2020-05-25       3.0
4       17384      M        80.71  ...  2020-02-16 2020-10-05      12.0
5       17290      M        79.19  ...  2020-03-06 2020-07-18       3.0
6       17302      M        81.65  ...  2020-02-07 2021-03-17      12.0
7       17440      M        64.20  ...  2020-01-06 2020-05-29       3.0
8       17392      M        82.57  ...  2020-02-04 2020-05-12       3.0
9       17413      M        78.64  ...  2020-09-10 2020-10-04       3.0

[10 rows x 17 columns]

Save model

In [ ]:
model.save('my_model.pkl')
# Load model
# loaded = GaussianCopula.load('my_model.pkl')

####**CTGAN**

Load original data

In [46]:
from sdv.demo import load_tabular_demo

data = load_tabular_demo('student_placements')
data.head()

   student_id gender  second_perc  ...  start_date   end_date  duration
0       17264      M        67.00  ...  2020-07-23 2020-10-12       3.0
1       17265      M        79.33  ...  2020-01-11 2020-04-09       3.0
2       17266      M        65.00  ...  2020-01-26 2020-07-13       6.0
3       17267      M        56.00  ...         NaT        NaT       NaN
4       17268      M        85.80  ...  2020-07-04 2020-09-27       3.0

[5 rows x 17 columns]

Constraints (reject sampling)

In [50]:
from sdv.constraints import GreaterThan

end_date_gt_start_date_constraint = GreaterThan(
    low='start_date',
    high='end_date',
    handling_strategy='reject_sampling'
)

Fit original data

In [51]:
from sdv.tabular import CTGAN

constraints = [
    end_date_gt_start_date_constraint
]

model = CTGAN(constraints=constraints)
model.fit(data)

/usr/local/lib/python3.7/dist-packages/scipy/stats/_continuous_distns.py:547: RuntimeWarning: invalid value encountered in sqrt
  sk = 2*(b-a)*np.sqrt(a + b + 1) / (a + b + 2) / np.sqrt(a*b)
/usr/local/lib/python3.7/dist-packages/scipy/stats/_continuous_distns.py:4798: RuntimeWarning: divide by zero encountered in true_divide
  return c**2 / (c**2 - n**2)
/usr/local/lib/python3.7/dist-packages/scipy/stats/_distn_infrastructure.py:2407: RuntimeWarning: invalid value encountered in double_scalars
  Lhat = muhat - Shat*mu
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:72: FutureWarning: Pass n_components=10 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  "will result in an error", FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:269: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  % (init + 1), ConvergenceWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:72: FutureWarning: Pass n_components=10 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  "will result in an error", FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:269: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  % (init + 1), ConvergenceWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:72: FutureWarning: Pass n_components=10 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  "will result in an error", FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:269: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  % (init + 1), ConvergenceWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:72: FutureWarning: Pass n_components=10 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  "will result in an error", FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:269: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  % (init + 1), ConvergenceWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:72: FutureWarning: Pass n_components=10 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  "will result in an error", FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (2) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:72: FutureWarning: Pass n_components=10 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  "will result in an error", FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (4) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:72: FutureWarning: Pass n_components=10 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  "will result in an error", FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:72: FutureWarning: Pass n_components=10 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  "will result in an error", FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:72: FutureWarning: Pass n_components=10 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  "will result in an error", FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (2) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:72: FutureWarning: Pass n_components=10 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  "will result in an error", FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:72: FutureWarning: Pass n_components=10 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  "will result in an error", FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:72: FutureWarning: Pass n_components=10 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  "will result in an error", FutureWarning)

Conditional sampling

In [52]:
conditions = {
    'gender': 'M',
    'experience_years': 1
}
model.sample(10, conditions=conditions)

   student_id gender  second_perc  ...  start_date   end_date  duration
0       17336      M        40.89  ...  2020-03-01 2020-11-25       3.0
1       17345      M        77.73  ...  2020-03-18 2020-08-03       3.0
2       17283      M        40.89  ...  2020-02-21 2020-08-08      12.0
3       17323      M        69.26  ...  2019-12-17 2020-08-05       NaN
4       17368      M        50.83  ...  2020-02-24 2020-03-20       3.0
5       17279      M        50.29  ...  2020-05-01 2020-05-10       NaN
6       17424      M        84.69  ...  2019-12-27 2020-07-07       3.0
7       17414      M        67.14  ...  2020-03-20 2020-08-24       NaN
8       17474      M        84.00  ...  2020-01-30 2020-12-31       NaN
9       17371      M        84.53  ...  2020-01-05 2020-07-10       3.0

[10 rows x 17 columns]

In [53]:
import pandas as pd 

conditions = pd.DataFrame({
    'gender': ['M', 'M', 'M', 'F', 'F', 'F'],
    'work_experience': [True, True, True, True, True, True]
})
model.sample(conditions=conditions)

   student_id gender  second_perc  ...  start_date   end_date  duration
0       17309      M        40.89  ...  2019-12-18 2020-08-06       3.0
1       17478      M        64.47  ...  2020-01-28 2020-09-28       3.0
2       17264      M        82.37  ...  2020-06-23 2020-08-28       NaN
3       17264      F        49.98  ...  2020-06-24 2020-11-20       NaN
4       17379      F        85.18  ...  2020-03-12 2020-05-03       3.0
5       17350      F        65.51  ...  2020-02-05 2020-09-27      12.0

[6 rows x 17 columns]

#### **TVAE**

Load original data

In [54]:
from sdv.demo import load_tabular_demo

data = load_tabular_demo('student_placements')
data.head()

   student_id gender  second_perc  ...  start_date   end_date  duration
0       17264      M        67.00  ...  2020-07-23 2020-10-12       3.0
1       17265      M        79.33  ...  2020-01-11 2020-04-09       3.0
2       17266      M        65.00  ...  2020-01-26 2020-07-13       6.0
3       17267      M        56.00  ...         NaT        NaT       NaN
4       17268      M        85.80  ...  2020-07-04 2020-09-27       3.0

[5 rows x 17 columns]

Constraints (reject sampling)

In [55]:
from sdv.constraints import GreaterThan

end_date_gt_start_date_constraint = GreaterThan(
    low='start_date',
    high='end_date',
    handling_strategy='reject_sampling'
)

Fit original data

In [56]:
from sdv.tabular import TVAE

constraints = [
    end_date_gt_start_date_constraint
]

model = TVAE(constraints=constraints)
model.fit(data)

/usr/local/lib/python3.7/dist-packages/scipy/stats/_continuous_distns.py:547: RuntimeWarning: invalid value encountered in sqrt
  sk = 2*(b-a)*np.sqrt(a + b + 1) / (a + b + 2) / np.sqrt(a*b)
/usr/local/lib/python3.7/dist-packages/scipy/stats/_continuous_distns.py:4798: RuntimeWarning: divide by zero encountered in true_divide
  return c**2 / (c**2 - n**2)
/usr/local/lib/python3.7/dist-packages/scipy/stats/_distn_infrastructure.py:2407: RuntimeWarning: invalid value encountered in double_scalars
  Lhat = muhat - Shat*mu
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:72: FutureWarning: Pass n_components=10 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  "will result in an error", FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:269: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  % (init + 1), ConvergenceWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:72: FutureWarning: Pass n_components=10 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  "will result in an error", FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:269: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  % (init + 1), ConvergenceWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:72: FutureWarning: Pass n_components=10 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  "will result in an error", FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:72: FutureWarning: Pass n_components=10 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  "will result in an error", FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:269: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  % (init + 1), ConvergenceWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:72: FutureWarning: Pass n_components=10 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  "will result in an error", FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (2) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:72: FutureWarning: Pass n_components=10 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  "will result in an error", FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (4) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:72: FutureWarning: Pass n_components=10 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  "will result in an error", FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:269: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  % (init + 1), ConvergenceWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:72: FutureWarning: Pass n_components=10 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  "will result in an error", FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:72: FutureWarning: Pass n_components=10 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  "will result in an error", FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (2) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:72: FutureWarning: Pass n_components=10 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  "will result in an error", FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:72: FutureWarning: Pass n_components=10 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  "will result in an error", FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:72: FutureWarning: Pass n_components=10 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  "will result in an error", FutureWarning)

Conditional sampling

In [59]:
conditions = {
    'gender': 'M',
    'experience_years': 0
}
model.sample(10, conditions=conditions)

   student_id gender  second_perc  ...  start_date   end_date  duration
0       17397      M        74.17  ...  2020-01-18 2020-07-25       3.0
1       17292      M        83.95  ...  2020-01-14 2020-03-26       3.0
2       17297      M        85.11  ...  2020-01-23 2020-08-09       3.0
3       17445      M        72.79  ...  2020-01-21 2020-08-03       3.0
4       17416      M        67.04  ...  2020-01-20 2020-07-27       3.0
5       17473      M        83.28  ...  2020-01-15 2020-08-21       3.0
6       17449      M        68.12  ...  2020-01-27 2020-08-09       6.0
7       17419      M        56.69  ...  2020-01-11 2020-08-03       NaN
8       17440      M        61.91  ...  2020-01-24 2020-08-02       6.0
9       17296      M        78.98  ...  2020-01-16 2020-05-08       3.0

[10 rows x 17 columns]

In [58]:
import pandas as pd 

conditions = pd.DataFrame({
    'gender': ['M', 'M', 'M', 'F', 'F', 'F'],
    'work_experience': [True, True, True, True, True, True]
})
model.sample(conditions=conditions)

   student_id gender  second_perc  ...  start_date   end_date  duration
0       17468      M        82.26  ...  2020-01-20 2020-04-28       3.0
1       17419      M        82.54  ...  2020-01-25 2020-07-23       3.0
2       17438      M        77.12  ...  2020-01-06 2020-08-12       3.0
3       17349      F        71.28  ...  2020-01-17 2020-04-18       3.0
4       17399      F        82.78  ...  2020-02-04 2020-08-26       3.0
5       17311      F        87.53  ...  2020-01-07 2020-07-28       3.0

[6 rows x 17 columns]