<a href="https://colab.research.google.com/github/linyuehzzz/census_privacy/blob/main/franklin_abm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
from google.colab import drive
drive.mount("/content/gdrive")

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

####**Read data**

Building data

In [2]:
!pip install geopandas

Collecting geopandas
  Downloading geopandas-0.9.0-py2.py3-none-any.whl (994 kB)
     |████████████████████████████████| 994 kB 3.0 MB/s
Collecting fiona>=1.8
  Downloading Fiona-1.8.20-cp37-cp37m-manylinux1_x86_64.whl (15.4 MB)
     |████████████████████████████████| 15.4 MB 82 kB/s
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.7.1)
Collecting pyproj>=2.2.0
  Downloading pyproj-3.1.0-cp37-cp37m-manylinux2010_x86_64.whl (6.6 MB)
     |████████████████████████████████| 6.6 MB 45.2 MB/s
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.1.5)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2021.5.30)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.2.0)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2.8.2)
Installing collected packages: munch, cligj, click-plugins, pyproj, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.20 geopandas-0.9.0 munch-2.5.0 pyproj-3.1.0

In [64]:
%cd "/content/gdrive/My Drive/Colab Notebooks/census_privacy"
import geopandas as gpd

filename_buildings = 'franklin/buildings/franklin_buildingsv1.json'
data_buildings = gpd.read_file(filename_buildings)
data_buildings

/content/gdrive/My Drive/Colab Notebooks/census_privacy

        OBJECTID_1  ...                                           geometry
0                1  ...  POLYGON ((-82.76948 40.03471, -82.76953 40.034...
1                2  ...  POLYGON ((-82.77188 40.10144, -82.77197 40.101...
2                3  ...  POLYGON ((-82.77246 40.11178, -82.77251 40.111...
3                4  ...  POLYGON ((-82.77279 40.03673, -82.77304 40.036...
4                5  ...  POLYGON ((-82.77294 40.00425, -82.77300 40.004...
...            ...  ...                                                ...
390124      390125  ...  POLYGON ((-83.24400 40.02583, -83.24411 40.025...
390125      390126  ...  POLYGON ((-83.24511 39.97005, -83.24524 39.970...
390126      390127  ...  POLYGON ((-83.24573 39.88030, -83.24582 39.880...
390127      390128  ...  POLYGON ((-83.24714 39.88745, -83.24725 39.887...
390128      390129  ...  POLYGON ((-83.24900 40.01021, -83.24911 40.010...

[390129 rows x 34 columns]

Household data

In [11]:
%cd "/content/gdrive/My Drive/Colab Notebooks/census_privacy"
import pandas as pd

filename_census = 'franklin/microdata/franklin_householdsv1.csv'
data_census = pd.read_csv(filename_census)
data_census

/content/gdrive/My Drive/Colab Notebooks/census_privacy

        OBJECTID  STATEFP10  COUNTYFP10  ...  Race  Children  Building_ID
0          45682         39          49  ...     9         0       343585
1         432911         39          49  ...     1         1        23275
2         432912         39          49  ...     1         1        41973
3         432913         39          49  ...     1         1       231411
4         432914         39          49  ...     1         1       231411
...          ...        ...         ...  ...   ...       ...          ...
458651    282548         39          49  ...     1         0       383856
458652    282549         39          49  ...     1         0       256797
458653    282550         39          49  ...     1         0       365487
458654    282551         39          49  ...     2         0        21490
458655    185022         39          49  ...     1         0           b.

[458656 rows x 12 columns]

In [ ]:
data_census["Income"].describe()

count    458656.000000
mean      44204.419483
std       48514.044305
min       -6900.000000
25%       17500.000000
50%       32300.000000
75%       54333.333333
max      849000.000000
Name: Income, dtype: float64

####**Using assigned probability**


- Low income households (< 20000) with school age children
- Low income households without school age children
- Median income households (20000 - 50000) with school age children
- Median income households without school age children
- High income households (> 50000) with school age children
- High income households without school age children

In [ ]:
import random

GEOIDs = data_census["GEOID10"].unique()
data_census["Building_ID"] = 0

flag = 0
for GEOID in GEOIDs:
    # print(GEOID)
    sub_census = data_census[data_census["GEOID10"] == GEOID]
    sub_buildings = data_buildings[data_buildings["GEOID10"] == str(GEOID)]
    # print(len(sub_census), len(sub_buildings))

    if len(sub_census) > 0 and len(sub_buildings) > 0:
        sub_building_ids = sub_buildings["Building_ID"].values.tolist()
        # type 1
        cat1 = sub_census[(sub_census["Income"] < 20000) & (sub_census["Children"] == 1)]
        if len(cat1) > 0:
            ids = random.choices(sub_building_ids, weights=sub_buildings["prob1"].values.tolist(), k=len(cat1))
            data_census.loc[(data_census["GEOID10"] == GEOID) & (data_census["Income"] < 20000) & 
                            (data_census["Children"] == 1), "Building_ID"] = ids
        # type 2
        cat2 = sub_census[(sub_census["Income"] < 20000) & (sub_census["Children"] == 0)]
        if len(cat2) > 0:
            ids = random.choices(sub_building_ids, weights=sub_buildings["prob2"].values.tolist(), k=len(cat2))
            data_census.loc[(data_census["GEOID10"] == GEOID) & (data_census["Income"] < 20000) & 
                            (data_census["Children"] == 0), "Building_ID"] = ids
        # type 3
        cat3 = sub_census[(sub_census["Income"] >= 20000) & (sub_census["Income"] <= 50000) & (sub_census["Children"] == 1)]
        if len(cat3) > 0:
            ids = random.choices(sub_building_ids, weights=sub_buildings["prob3"].values.tolist(), k=len(cat3))
            data_census.loc[(data_census["GEOID10"] == GEOID) & (data_census["Income"] >= 20000) & 
                            (data_census["Income"] <= 50000) & (data_census["Children"] == 1), "Building_ID"] = ids
        # type 4
        cat4 = sub_census[(sub_census["Income"] >= 20000) & (sub_census["Income"] <= 50000) & (sub_census["Children"] == 0)]
        if len(cat4) > 0:
            ids = random.choices(sub_building_ids, weights=sub_buildings["prob4"].values.tolist(), k=len(cat4))
            data_census.loc[(data_census["GEOID10"] == GEOID) & (data_census["Income"] >= 20000) & 
                            (data_census["Income"] <= 50000) & (data_census["Children"] == 0), "Building_ID"] = ids
        # type 5
        cat5 = sub_census[(sub_census["Income"] > 50000) & (sub_census["Children"] == 1)]
        if len(cat5) > 0:
            ids = random.choices(sub_building_ids, weights=sub_buildings["prob5"].values.tolist(), k=len(cat5))
            data_census.loc[(data_census["GEOID10"] == GEOID) & (data_census["Income"] > 50000) & 
                            (data_census["Children"] == 1), "Building_ID"] = ids
        # type 6
        cat6 = sub_census[(sub_census["Income"] > 50000) & (sub_census["Children"] == 0)]
        if len(cat6) > 0:
            ids = random.choices(sub_building_ids, weights=sub_buildings["prob6"].values.tolist(), k=len(cat6))
            data_census.loc[(data_census["GEOID10"] == GEOID) & (data_census["Income"] > 50000) & 
                            (data_census["Children"] == 0), "Building_ID"] = ids
    elif len(sub_census) > 0 and len(sub_buildings) == 0:
        data_census.loc[data_census["GEOID10"] == GEOID, "Building_ID"] = "b."
        flag += 1

data_census.head()

   OBJECTID  STATEFP10  COUNTYFP10  ...  Race  Children  Building_ID
0     45682         39          49  ...     9         0       343585
1    432911         39          49  ...     1         1        23275
2    432912         39          49  ...     1         1        41973
3    432913         39          49  ...     1         1       231411
4    432914         39          49  ...     1         1       231411

[5 rows x 12 columns]

In [ ]:
%cd "/content/gdrive/My Drive/Colab Notebooks/census_privacy"
import geopandas as gpd

filename_census = 'franklin/microdata/franklin_householdsv1.csv'
data_census.to_csv(filename_census, index=False)

/content/gdrive/My Drive/Colab Notebooks/census_privacy

In [ ]:
len(data_census[data_census["Building_ID"] == "b."])

3103

Assign geometry.

In [9]:
%cd "/content/gdrive/My Drive/Colab Notebooks/census_privacy"
import geopandas as gpd

filename_block = 'franklin/buildings/franklin_block10.json'
data_block = gpd.read_file(filename_block)
data_block

/content/gdrive/My Drive/Colab Notebooks/census_privacy

       OBJECTID_1  ...                                           geometry
0               1  ...  POLYGON ((-83.08283 40.00301, -83.08280 40.002...
1               2  ...  POLYGON ((-83.03954 40.03505, -83.03952 40.035...
2               3  ...  POLYGON ((-83.02613 39.88562, -83.02617 39.885...
3               4  ...  POLYGON ((-82.94881 40.05366, -82.94883 40.053...
4               5  ...  POLYGON ((-82.83938 40.10938, -82.83945 40.109...
...           ...  ...                                                ...
22821       22822  ...  POLYGON ((-83.11996 39.94567, -83.11997 39.945...
22822       22823  ...  POLYGON ((-83.05067 40.00971, -83.05070 40.009...
22823       22824  ...  POLYGON ((-82.87536 39.91920, -82.87534 39.919...
22824       22825  ...  POLYGON ((-83.08998 39.97569, -83.08992 39.975...
22825       22826  ...  POLYGON ((-83.00290 39.99555, -83.00296 39.994...

[22826 rows x 22 columns]

In [ ]:
import random
from shapely.geometry import Point

data_census["lon"] = data_census["lat"] = 0

for building in data_census["Building_ID"].unique():
    if building != "b.":
        sub_buildings = data_buildings[data_buildings["Building_I"] == int(building)]
        data_census.loc[data_census["Building_ID"] == building, "lon"] = sub_buildings["lon"].values[0]
        data_census.loc[data_census["Building_ID"] == building, "lat"] = sub_buildings["lat"].values[0]
    else:
        sub_census = data_census[data_census["Building_ID"] == building]
        for GEOID in sub_census["GEOID10"].unique():
            N = len(sub_census["GEOID10"])
            polygon = data_block[data_block["GEOID10"] == str(GEOID)].geometry
            bounds = list(polygon.bounds.values)
            flag = 0
            pts = []
            while True:
                x = random.uniform(bounds[0][0], bounds[0][2])
                y = random.uniform(bounds[0][1], bounds[0][3])
                if polygon.contains(Point(x, y)).any():
                    pt = [x, y]
                    pts.append(pt)
                    flag += 1
                if flag == N:
                    break
            print(pts)
            data_census.loc[(data_census["GEOID10"] == GEOID) & (data_census["Building_ID"] == building), 
                            ["lon", "lat"]] = pts

data_census.head()